[submodule "submodules/Cappuccino"]
	path = submodules/Cappuccino
	url = https://github.com/AndreNIH/CappuccinoSDK/
[submodule "submodules/MinHook"]
	path = submodules/MinHook
	url = https://github.com/TsudaKageyu/minhook
