<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>.</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string>{0,0}</string>
    <key>textureRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>..</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string>{0,0}</string>
    <key>textureRect</key>
    <string>{{2,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_0_objs.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{30,30}</string>
    <key>spriteSourceSize</key>
    <string>{30,30}</string>
    <key>textureRect</key>
    <string>{{0,2},{30,30}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_create_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,45}</string>
    <key>spriteSourceSize</key>
    <string>{58,45}</string>
    <key>textureRect</key>
    <string>{{0,34},{58,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_delete_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,45}</string>
    <key>spriteSourceSize</key>
    <string>{58,45}</string>
    <key>textureRect</key>
    <string>{{60,34},{58,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_edit_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{55,45}</string>
    <key>spriteSourceSize</key>
    <string>{55,45}</string>
    <key>textureRect</key>
    <string>{{0,81},{55,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_edit_layer_btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{33,33}</string>
    <key>spriteSourceSize</key>
    <string>{33,33}</string>
    <key>textureRect</key>
    <string>{{57,81},{33,33}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_eye-off-btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,46}</string>
    <key>spriteSourceSize</key>
    <string>{46,46}</string>
    <key>textureRect</key>
    <string>{{0,128},{46,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_eye-off.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,31}</string>
    <key>spriteSourceSize</key>
    <string>{31,31}</string>
    <key>textureRect</key>
    <string>{{120,34},{31,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_eye-on-alt.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,31}</string>
    <key>spriteSourceSize</key>
    <string>{31,31}</string>
    <key>textureRect</key>
    <string>{{153,34},{31,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_eye-on-btn.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{46,46}</string>
    <key>spriteSourceSize</key>
    <string>{46,46}</string>
    <key>textureRect</key>
    <string>{{48,128},{46,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_eye-on.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{31,31}</string>
    <key>spriteSourceSize</key>
    <string>{31,31}</string>
    <key>textureRect</key>
    <string>{{186,34},{31,31}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_eyedropper.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{25,25}</string>
    <key>spriteSourceSize</key>
    <string>{25,25}</string>
    <key>textureRect</key>
    <string>{{32,2},{25,25}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_grid-icon-alt.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,23}</string>
    <key>spriteSourceSize</key>
    <string>{23,23}</string>
    <key>textureRect</key>
    <string>{{59,2},{23,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_grid-icon.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,23}</string>
    <key>spriteSourceSize</key>
    <string>{23,23}</string>
    <key>textureRect</key>
    <string>{{84,2},{23,23}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_hourglassBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,46}</string>
    <key>spriteSourceSize</key>
    <string>{45,46}</string>
    <key>textureRect</key>
    <string>{{96,128},{45,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_timeBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{45,46}</string>
    <key>spriteSourceSize</key>
    <string>{45,46}</string>
    <key>textureRect</key>
    <string>{{143,128},{45,46}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_v_bpm_line.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,26}</string>
    <key>textureRect</key>
    <string>{{109,2},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_v_dur_line.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,26}</string>
    <key>textureRect</key>
    <string>{{134,2},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_v_eff_line.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,26}</string>
    <key>textureRect</key>
    <string>{{159,2},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_v_grid.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,26}</string>
    <key>textureRect</key>
    <string>{{184,2},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_v_grnd.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,26}</string>
    <key>textureRect</key>
    <string>{{209,2},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_v_highlight.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,26}</string>
    <key>textureRect</key>
    <string>{{219,34},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_v_ldm.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,26}</string>
    <key>textureRect</key>
    <string>{{212,81},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_v_portal_borders.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,26}</string>
    <key>textureRect</key>
    <string>{{190,128},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_v_pos_line.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,26}</string>
    <key>textureRect</key>
    <string>{{215,128},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_v_prevmode.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,26}</string>
    <key>textureRect</key>
    <string>{{0,176},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_v_pulse.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,26}</string>
    <key>textureRect</key>
    <string>{{25,176},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_v_rotate.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{23,26}</string>
    <key>spriteSourceSize</key>
    <string>{23,26}</string>
    <key>textureRect</key>
    <string>{{50,176},{23,26}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_visible_01.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,45}</string>
    <key>spriteSourceSize</key>
    <string>{58,45}</string>
    <key>textureRect</key>
    <string>{{92,81},{58,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>BE_visible_02.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{58,45}</string>
    <key>spriteSourceSize</key>
    <string>{58,45}</string>
    <key>textureRect</key>
    <string>{{152,81},{58,45}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>pixelFormat</key>
   <string>RGBA4444</string>
   <key>premultiplyAlpha</key>
   <false/>
   <key>realTextureFileName</key>
   <string>BE_GameSheet01.png</string>
   <key>size</key>
   <string>{244,204}</string>
   <key>smartupdate</key>
   <string>$none</string>
   <key>textureFileName</key>
   <string>BE_GameSheet01.png</string>
  </dict>
 </dict>
</plist>
